// Colors
// $red: #dd4b39;
// $green: #3d9400;
// $blue: #4d90fe;
$red: #cf3624;
$green: #4cb800;
$blue: #297afe;
$white: #fff;
$grayLightest: #f1f1f1;
$grayLighter: #e5e5e5;
$grayLight: #acacac;
$gray: #909090;
$grayDark: #666;
$grayDarker: #333;
$grayDarkest: #1c1c1c;
$black: #000;
$yellow: #fff1a8;

$linkColor: #36d;
$linkVisitedColor: #11c;
$lineColor: $grayLighter;

$altGrayBorder: #d5d5d5;

$shadow1: rgba(0, 0, 0, 0.1);

// Typography
$fontFamily: 'Roboto', 'Arial', sans-serif;
$fontSize: 13px;
$lineHeight: 19px;

// Sizing
$lrPadding: 20px;
$navLinkPadding: 5px;

// Images
$checkboxImage: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAtklEQVQ4y2P4//8/A7Ux1Q0cxoaCADIbCUgCMTvVXAoE5kA8CYidyXYpGrAH4iVAHIXiCwoMDQTimUBcBsRMlBrKCsTpUANzkC0j11BuIK6EGlgKsoAkQ4FgChD7AzELVI8YEDdDDawDYk6YQaQY6gg1oAqILYC4D8oHGcyLbBAphoJAKtQgGO4EYiHk2CLHUJAXm6AG9gCxNHoSIMdQEJCFGqiALaGSayjMxQwUGzq0S6nhZygA2ojsbh6J67kAAAAASUVORK5CYII=');
