<section class="buttons">
  <button>Standard</button>
  <button class="action">Action</button>
  <button class="primary">Primary</button>
  <button class="submit">Submit</button>
  <button class="default">Default</button>
</section>

<section class="inputs">
  <div class="field">
    <label>Text input:</label>
    <input>
  </div>
  <div class="field">
    <input type="checkbox">
    <label>Checkbox</label>
  </div>
  <div class="field">
    <input type="radio">
    <label>Radio button</label>
  </div>
</section>
